<div class="panel panel=default">
        <div class="panel-heading"><h1>Menu</h1></div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Menu</th>
            <th>Price</th>
            <th>Delete</th>
        </tr>
    </thead>    
    <tbody>
        <% if(menu.length > 0) { %>
            <% menu.forEach(function(item, index) { %>
                <tr>                    
                    <td><%= index+1 %></td>
                    <td> <a href="/menu/<%=r_Code%>/<%=item.Menu_Code%>/detail"><%=item.Menu_Name%> </a>  </td>
                    <td><%=item.Price%></td>
                    <td><form action="/menu/<%=r_Code%>/<%=item.Menu_Code%>/delete" method="post"> <input class="btn btn-default btn-sm" type="submit" value="Delete"> </form></td>
                </tr>
            <% }) %>
        <% } %>              
    </tbody>
</table>
</div>