<% include ../bootstrap_up.ejs %>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Free Order</a>
            </div>
            <% if(!login) { %>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" action="/auth/login" method="post">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" id="inputEmail" class="form-control" name="username" placeholder="Email" required>

                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>

                        <input class="btn btn-success" type="submit" value="Login">
                    </form>
                    </form>
                </div>
                <!--/.navbar-collapse -->
        </div>
        <% } else { %>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" action="/auth/logout" method="get">
                    <strong class="text-muted">
                        <%= login.Manager_Name %>
                            <input class="btn btn-success" type="submit" value="Logout">
                    </strong>
                </form>
            </div>
            <!--/.navbar-collapse -->
            </div>
            <% } %>
    </nav>

    <div class="container">

        <div>
            <h3 class="text-muted">Free Order</h3>
            <nav>
                <ul class="nav nav-pills nav-justified">
                    <li> <a href="/restaurant/<%=r_Code%>">Home</a> </li>
                    <li> <a href="/restaurant/<%=r_Code%>">Table</a> </li>
                    <li class="active"> <a href="/menu/<%=r_Code%>">Menu</a> </li>
                    <li> <a href="/restaurant/<%=r_Code%>/info">Info</a> </li>
                </ul>
            </nav>
        </div>

        <!-- Jumbotron -->
        <div class="jumbotron row">
            <div class="col-xs-6">
                    <h1>Menu</h1>
                    <p class="lead">You can view, add, edit, and delete menu in here</p>
            </div>
            <div class="col-xs-6">  
                 <!-- Add New Menu -->
                <p>
                    <form class="form-inline" action="/menu/<%=r_Code%>/add" method="post">
                        <div class="form-group">
                            <label for="menuname" class="sr-only"></label>
                            <input type="text" class="form-control" id="menuname" name="menuname" placeholder="New Menu" required>    
                        </div>
                        <div class="form-group">
                            <label for="price" class="sr-only"></label>
                            <input type="text" class="form-control" id="price" name="price" placeholder="Price" required>
                        </div>
                        <button type="submit" class="btn btn-default">Add</button>
                    </form>
                </p>
                <!-- Add New Option -->
                <p>
                    <form class="form-inline" action="/menu/option/<%=r_Code%>/add" method="post">
                        <div class="form-group">
                            <label for="optionname" class="sr-only"></label>
                            <input type="text" class="form-control" id="optionname" name="menuname" placeholder="New Option" required>    
                        </div>
                        <div class="form-group">
                            <label for="optionprice" class="sr-only"></label>
                            <input type="text" class="form-control" id="optionprice" name="price" placeholder="Price" required>
                        </div>
                        <button type="submit" class="btn btn-default">Add</button>
                    </form>  
                </p>          
            </div>            
        </div>

        <div class="row">
            <div class="col-xs-6">
                <% include ./menulist.ejs %>
            </div>            
            <% if(m_Code != 'None') { %>
                <div class="col-xs-6">
                    <% include ./menudetail.ejs %>
                </div>
            <% } %>
        </div>               
        <div  class="row">
            <div class="col-xs-6">
                <% include ./menuopt.ejs %>
            </div>
        </div>

        <hr>
        <!-- Site footer -->
        <footer class="footer">
            <p>&copy; BBGoo 2018</p>
        </footer>

    </div>
    <!-- /container -->

    <% include ../bootstrap_down.ejs %>