<% include ./bootstrap_up.ejs %>
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Free Order</a>
          </div>
          <% if(!login) { %>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" action="/auth/login" method="post">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" id="inputEmail" class="form-control" name="username" placeholder="Email" required>

                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>

                        <input class="btn btn-success" type="submit" value="Login">
                    </form>                
                </form>
            </div><!--/.navbar-collapse -->
            </div>
          <% } else { %>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" action="/auth/logout" method="get">
                    <strong class="text-muted"><%= login.Manager_Name %>   
                        <input class="btn btn-success" type="submit" value="Logout">    
                    </strong>                              
                </form>
            </div><!--/.navbar-collapse -->
            </div>
          <% } %>
      </nav>
  
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
        <% if(login) { %>
            <% if(login.Power == 0) { %>
                <h1> Apply Restaurant </h1>
                <p>If you want to register you restaurant, fill out the form to apply restaurant</p>
                <p><a class="btn btn-primary btn-lg" href="/form/apply" role="button">Apply &raquo;</a></p>
            <% } else { %>
                <h1> Permit Restaurant </h1>
                <p>Administrator can allow new restaurant</p>
                <p><a class="btn btn-primary btn-lg" href="/form/permit" role="button">Permit &raquo;</a></p>
            <% } %>            
        <% } else { %>
            <h1> No User</h1>
            <p>This is a main page of application. If you want to use it, please sign in first</p>
            <p><a class="btn btn-primary btn-lg" href="/auth/register" role="button">Sign up &raquo;</a></p>
        <% } %>      
        </div>
      </div>
  
      
      <div class="container">
        <!-- Login and You're not Admin -->
        <% if(login && login.Power == 0) { %>
            <div class="row">
            <!-- Example row of columns -->
            <!-- Show Restaurant List -->
                <% if(restaurants.length > 0) { %>
                    <%restaurants.forEach(function(item, index) {%>
                        <div class="col-md-4">
                            <h2><%=item.Signboard%></h2>
                            <p>You can manage the restaurant. <br/>Click the manage button and start it.</p>
                            <p><a class="btn btn-default" href="/restaurant/<%=item.Restaurant_Code%>" role="button">Manage &raquo;</a></p>
                        </div> 
                <% })%>  
                <% } else { %>
                    <p>No restaurants</p>
                <% } %>
            </div>
            <hr>
            <div class="row">
                <!-- Show Application List -->
                <% if(applications.length > 0) { %>
                    <%applications.forEach(function(item, index) {%>
                        <div class="col-md-4">
                            <h2><%=item.Restaurant_Name%></h2>
                            <p>Your application is under review.<br/> To cancel or modify, click the button.</p>
                            <p>
                                <form action="/form/apply/<%=item.Application_Code%>/delete" method="post"> 
                                    <!-- <a class="btn btn-default" href="/form/apply/<%=item.Application_Code%>/edit" role="button">Modify</a> -->
                                    <button type="submit" class="btn btn-default">Delete</button> 
                                </form>
                            </p>
                        </div> 
                <% })%> 
                <% } else { %>
                    <p>No applications</p>
                <% } %>
            </div>   

        <% } %>
        <hr>
  
        <footer>
          <p>&copy; BBGoo 2018</p>
        </footer>
      </div> <!-- /container -->
<% include ./bootstrap_down.ejs %>